body{
       background: linear-gradient(#c0ecec, #fbffae);
        height: 1300px;
        font-family: "Verdana", sans-serif;
    }
        nav{
            width: 17%;
            height: 100%;
            right: 0%;
            position: fixed; 
            background-color: rgba(255, 255, 255, 0.6);
            text-align: center;
            line-height: 100px;
            font-size: 25px;
            font-variant: small-caps;
        }
        
    .dropdown {
        position: relative;
        display: inline-block;
    }

.dropdown-content {
  display: none;
   text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

        header{
            width: 77%; 
            margin-left: 3%;
            margin-right: 3%;
            margin-top: 1%;
            text-align: center;
           
        }
        
        h1{
            font-size: 42px;
        }
        
          footer{
            height: 10%;
            width: 83%;
            left: 0%;
            top: 1260px;
            position: absolute;
              background-color: rgba(255, 255, 255, 0.6);
              text-align: center;
              font-size: 20px;
        }
        
        section{
            width: 83%;
            float: left;
        }
        
        
        
     a:link {color: black; text-decoration: none;} 
    a:visited {color: black; text-decoration: none;}      
    a:hover{color: grey; text-decoration: none;}  
    a:active{color: grey; text-decoration: none;}  
    a:focus{color: grey; text-decoration: none;}
        
        
        #logo{border-radius: 30%; border: 1px solid black;}
        #logo:hover{border: 2px solid black;}
        #linky:hover{color: black;}
        